body {
    margin: 0;
    font-family: "Poppins", "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5e6282;
    background-color: #fffefe;
    background-image: url("C:/intern proj/bg2.jpeg");
    background-size: cover;
    background-position: center;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
	padding:30px 10px;
    height:100px;
	width:100%;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
}

.navbar li a:hover{
	color:blue;
}
li,a,button{
	text-decoration:none;
	font-weight:600;
	font-size:17px;
	color:#212832;
	
}
.signup-btn{
	border:2px solid black;
	padding:3px 15px 3px 15px;
	border-radius:5px;
}
.left-container{
	float:left;
	width:50%;

}
.left-content{
	margin-left:130px;
	margin-top:90px;
	
}
.left-content h4{
	color:#df6951;
	font-weight:700;
	margin-bottom:1rem;
	font-size:20px;
}
.left-content h1{
	font-size:4.623663rem;
    font-weight:700;
	color:#181e4b;
	margin-bottom:5px;
	line-height:1.1;
	margin-top:0;
}
.left-content p{
	margin-top:1;
	font-weight:500;
	margin-bottom:1.8rem;
}
.contact-btn{
	padding:10px 20px 10px 25px;
	border-radius:5px;
	background-color:#f1a501;
	color:#fff;
}
.booking-btn{
	padding:10px 20px 10px 20px;
	border-radius:5px;
	background-color:#df6951;
	color:#fff;
	margin-left:50px;
	
}
/*Services*/
.category-title{
	text-align:center;
	margin-bottom:4rem;
	padding-top:150px;
}
.category-title h5{
	color:#5e6282;
	font-size:1.125rem;
	margin-bottom:0;
}
.category-title h3{
	margin-top:0;
	font-size:3.24rem;
	text-transform:captialize;
	font-weight:700;
	color:#14183e;
	
}
.services-card{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding:20px 60px 160px ;
	padding-top:0;
}
.card1{
	box-shadow:0 4px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:border-box;
	border:1px solid rgba(0,0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.card2{
	box-shadow:0 4px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:border-box;
	border:1px solid rgba(0,0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.card3{
	box-shadow:2px 4px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:border-box;
	border:1px solid rgba(0,0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.card4{
	box-shadow:0 4px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	padding:40px 40px 65px;
	text-align:center;
	background-color:#fffefe;
	background-clip:border-box;
	border:1px solid rgba(0,0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
	
}
.card h4{
	margin-bottom:1rem;
	font-size:1.26rem;
	color:#14183e;
}
.card p{
	font-weight:500;
}

/* destination cards */

.destination-card1{
	box-shadow:0 6px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	width:20%;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:boder-box;
	border:1px solid rgba(0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.destination-card2{
	box-shadow:0 6px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	width:20%;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:boder-box;
	border:1px solid rgba(0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.destination-card3{
	box-shadow:0 6px 8px  0 rgba(0,0,0,0.2);
	transition:0.3s;
	width:20%;
	padding:2.5rem;
	text-align:center;
	background-color:#fffefe;
	background-clip:boder-box;
	border:1px solid rgba(0,0,0.125);
	border-radius:1.5rem;
	margin-right:35px;
}
.destination-card img{
	width:100%;
	border-top-left-radius:calc(1.5rem-1px);
	border-top-right-radius:calc(1.5rem-1px);
	vertical-align:middle;
}

.destination-cards h4{
	color:#5e6282;
	font-weight:500;
	font-size:1.26rem;
	margin-left:-122px;
}
.destination-card h4 span{
	font-weight:500;
	font-size:1.25rem;
	float:right;
}

/* Booking Section----*/

.left-container-booking{
	float:left;
	width:50%;
}
.right-container-booking{
	float:right;
	width:50%;
}
.left-content-booking{
	margin-left:130px;
	margin-top:90px;
	
}
.left-content-booking h5{
	color:#5e6282;
	font-weight:700;
	margin-bottom:1rem;
	font-size:1.125rem;
}
.left-content-booking h3{
	font-size:3.24732rem;
	font-weight:700;
	color:#181e4b;
	margin-bottom:5px;
	line-height:1.1;
	margin-top:0; 
	text-transform:capitalize;
}

.booking-title{
	display:inline-block;
}
.booking-icon{
	border-radius:13px;
	margin-right:1.8rem;
	padding:1rem;
	height:30px;
	margin-top:40px;
		
}
.icon-1{
background-color:#f1a601;
}
.icon-2{
	background-color:#df6951;
}
.icon-3{
	background-color:#006380;
}
.booking-icon img{
	vertical-align:middle;
}
.booking-icon-title h5{
	color:#5e6282;
	font-weight:700;
	font-size:1rem;
}
.booking-icon-title p{
	margin-top:0;
	margin-bottom:1rem;
}

.booking-card{
	position:relative;
	top:150px;
	left:20%;
	max-width:280px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	transition:0.3s;
	padding:1rem;
	background-color:#fffefe;
	background-clip:boder-box;
	border:1px solid rgba(0,0,0,0.125);
	border-radius:1.5rem;
}
.booking-card .booking-img{
	border-radius:1.5rem;
	margin-top:0.5rem;
	width:100%;
	vertical-align:middle;
}
.booking-card h5{
	font-weight:500;
	font-size:1.125rem;
	color:#14183e;
	margin:50px;
}
.booking-card p{
	margin-top:0;
	font-weight:500;
	font-size:0.88889rem;
	margin-bottom:1rem;
}
 .social-icon{
	 display:flex;
	 margin-bottom:1.8rem;
 }
 .icon-item{
	 margin-right:1.8rem;
	 border-radius:50%;
	 display:flex;
	 -webkit-box-pack:center;
	 justify-content:center;
	 -webkit-box-align:center;
	 align-items:center;
	 color:#080889;
	 background-color:#eeeeee;
	 transition:all 0.2s ease-in-out;
	 height:2.5rem;
	 width:2.5rem;
	 border:0;
	 font-size:0.875rem;
	 
 }
 .booking-card-footer{
	 display:flex;
	 align-items:center;
	 justify-content:space-between;
 }
 .left-booking-card-footer{
	 margin-top:-0.25rem;
 }
 .left-booking-card-footer img{
	 margin-right:1rem;
	 vertical-align:middle;
 }	 
 .left-booking-card-footer span{
	 font-weight:500;
	 font-size:0.88859rem;
 }
 
 /*---------------contact------*/
 .contact{
	 max-width:1320px;
	 margin-left:auto;
	 margin-right:auto;
 }
 .contact-container{
	 background-color:rgba(223,215,249,0.199);
	 border-radius:129px 20px 29px 20px ;
	 text-align:center;
	 padding-top:5rem;
	 padding-bottom:5rem;
	 padding-right:2.5rem;
	 padding-left:2.5rem;
	 position:relative;
 }

 .share-arrow{
	 margin-top:1rem;
	 transform:translateX(-50%) translateY(-50%);
	 left:100%;
	 top:0;
	 position:absolute;
	 text-align:center;
 }
 .share-arrow img{
	 max-width:70px;
	 vertical-align:middle;
	 text-align:center;
 }
 .shape.bg2{
	z-index:-1;
	right:0;
	top:0;
	position:absolute;
	text-align:center;
 }
 .shape-b2 img{
	 vertical-align:middle;
	 width:264px;
 }
 .shape.bg1{
	z-index:-1;
	margin-right:3rem;
	bottom:0;
	right:0;
	top:0;
	position:absolute;
	text-align:center;
	
 }
 .shape-b1 img{
	 vertical-align:middle;
	 width:340px;
 }
 .contact-text{
	 width:66.6666%;
	 margin-right:auto;
	 margin-left:auto;
 }
 .contact-text h2{
	 color:#5e6282;
	 line-height:1.9;
	 margin-bottom:4rem;
	 font-size:1.6018;
 }
 .contact-text form{
	 width:75%;
	 margin-left:auto;
	 margin-right:auto;
	 align-items:center;
 }
 .form-text{
	 display:flex;
	 align-items:center;
	 justify-content:space-between;
 }
 .input-group-icon{
	 position:relative;
 }
 .contact-text form input{
	 background-color:#ffffff;
	 border-radius:10px;
	 color:#39425d;
	 padding:1rem 1rem 1rem 2.7rem;
	 font-size:14px;
	 border:none;
 }
 .form-control{
	 display:block;
	 width:100%;
	 font-weight:400;
	 line-height:1.5;
	 background-clip:padding-box;
	 appearance:none;
	 transition:border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,
	            -webkit-box-shadow 0.15s ease-in-out;
     				
 } 
 .input-box-icon{
	 position:absolute;
	 top:50%;
	 left:1rem;
	 color:#212529;
	 transform:traslateY(-50%);
	 vertical-align:middle;
	 text-align:center;
 }
 .subscribe-btn{
	 width:auto;
 }
 .btn-sub{
	 background-image:linear-gradient(to bottom,#ff946d , #ff7d68);
	 border:none;
	 border-radius:0.625rem;
	 padding:1rem 2.5rem;
	 font-size:0.8888rem;
	 color:#fffefe;
	 background-color:#df6951;
	 text-transform:none;
 } 
	 
 /*----footer---*/
.footer{
	display:flex;
	flex-direction:left;
	background-color:black;
	align-items:center;
	color:yellow;
}
.footer0{
	display:inline;
	align-items:right;
	color:white;
}
.footer0 img{
	float:left;
	padding:1.5rem;

}
.footer0 p{
	padding:1.2rem;
	display:flex;
	align-items:flex-start;
	color:yellow;
}
.footer0 p:hover{
	transform:scale(1.05);
	transition-duration:1s;
	color:rgb(243,168,7);
}
	

.social-icons {
	display:flex;
	justify-content:center;
	color:white;
	flex-wrap:wrap;
}
.social-icons a{
	color:white;
	margin:20px;
	border-radius:5px;
	margin-top:10px;
	color:white;
}
.social-icons a .social-icons-item{
	color:white;
	background-color:black;
}
.social-icons a:hover .social-icons-item{
	color:red;
	transform:translateY(5px);
}
.footer1 {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
	color:white;
	margin-top:15px;
	text-decoration:none;
	width:100%;
}
.footer a{
	color:aqua;
}
.footer ul{
	list-style-type:none;
}
.footer2{
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:space-evenly;
	align-items:center;
	text-decoration:none;
	flex-wrap:wrap;
	color:white;
	margin-top:15px;
}

.footer3 {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
	color:white;
	flex-direction:column;
	text-decoration:none;
	margin-top:15px;
}

.footer1:hover {
	font-weight:1200;
	transition-duration:1s;
}
.footer1:hover{
	color:rgb(243,168,7);
}
.footer1:hover{
	transform:scale(1.05);
}
.footer2:hover{
	font-weight:1200;
	transition-duration:1s;
}
.footer2:hover{
	color:rgb(243,168,7);
}
.footer2:hover{
	transform:scale(1.05);
}
.footer3:hover{
	color:rgb(243,168,7);
	transition-duration:1s;
}
.footer3:hover{
	transform:scale(1.05);
}
.footer4 {
	margin-top:60px;
	margin-bottom:20px;
	display:inline;
	justify-content:center;
	color:white;
}
.footer4 img{
	padding:1.5rem;
	width:40%
}
.footer-app{
	color:white;
	font-weight:500;
	margin-bottom:1rem;
	font-size:1.26rem;

}
.end-text p{
	text-align:center;
	padding:2.5rem;
	padding-bottom:2.5rem;
	color:white;
	font-weight:500;
	font-size:0.888rem;
	margin-bottom:0;
	margin-top:0;
	
}
	
	 
	
	 
	 
 
	 
	 
	
	
	
	
	
	
	
	

